@import 'layout';
@import 'utilities';

html, body, #application-mount, .root {
  font-family: Roboto;
  font-size: 12px;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}

#application {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
